<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/grid.css">
    <title>Grid</title>
</head>

<body>

    <h2>Gallery</h2>
    <div class="gallery">
        <div>1</div>
        <div>2</div>
        <div>3</div>
    </div>
    

    <h2>Products</h2>
    <div class="products">
        <div>Product</div>
        <div>Product</div>
        <div>Product</div>
        <div>Product</div>
    </div>

</body>

</html>