<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/layout.css">
    <title>Layouts</title>
</head>

<body>

    <h2>Holy Grail Layout</h2>

    <div class="holy">
        <div class="header">Header</div>
        <div class="left">Left Sidebar</div>
        <div class="main">Main Content</div>
        <div class="right">Right Sidebar</div>
        <div class="footer">Footer</div>
    </div>

    <h2>Dashboard Layout</h2>

    <div class="dashboard">
        <div class="sidebar">Sidebar</div>
        <div class="content">Main Content Area</div>
    </div>
</body>

</html>